{% extends 'base.html' %}

{% block content %}
    <div hx-get="{% url 'main' %}" hx-trigger="every 10s">
        <h1>Online Monitoring</h1>
        <br>
        <table>
            <tr>
                <th></th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Комиссия</th>
                <th>Статус</th>
                <th>Тип</th>
            </tr>

            {% for el in data %}
                <tr>
                    <td><img src="{{ el.img }}" width="80" height="80" alt=""></td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.price }}</td>
                    <td>{{ el.tx_fee }}</td>
                    <td>{{ el.status }}</td>
                    <td>{{ el.coin_type }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}